@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

:root {
    /* Equal button light */
    --equal-light-background: #ED7D31;
    --equal-light-color: black;

    /* background */
    --container-background: ;

    /* keyboard background color*/
    --keyboard-background-lightmode: #8EACCD;

    /*  number color  */
    --number-color-lightmode: black;

    /* Operator color */
    --operator-backgroudn-color: #D0D4CA;


}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--container-background);
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-items: center;
    height: 500px;
    width: 300px;
    border-radius: 10px;
    background-color: var(--container-background);
    border: 0.8px solid black;
}

.calculator>.heading {
    align-items: center;
    height: 160px;
}

.heading>.title {
    position: relative;
    padding: 10px;
}

.heading>.title>h1 {
    display: inline;
    font-size: 26px;
}

.heading>.title>span {
    margin: auto;
    position: absolute;
    left: 85%;
    top: 35%;

}

.icon>span {
    position: absolute;
    cursor: pointer;
}


.output>p {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 99px;
    width: 100%;
    font-size: 36px;
    padding-right: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.content {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, auto);
    height: 340px;
    text-align: center;
    justify-content: center;
    border-radius: 0px 0px 10px 10px;
    color: var(--keyboard-color);
    background-color: var(--keyboard-background-lightmode);
}

.content>span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    height: 48px;
    font-size: 20px;
    color: var(--number-color-lightmode);
    cursor: pointer;
}

.content>span:not(:last-child) {
    width: 48px;
}


.equal {
    text-align: center;
    grid-column: span 2;
}


.add,
.subtract,
.multiple,
.divide,
.mod {
    background-color: var(--operator-backgroudn-color);
    font-weight: 500;
}

.add,
.subtract,
.multiple,
.divide,
.mod {
    color: var(--operator-color-lightmode);
    border-radius: 40%;
}

.equal {
    background-color: var(--equal-light-background);
    border-radius: 10px;
}

.container-background-color {
    background-color: black;
}

.darkmode-calculator-color {
    border: 1px solid white;
    background-color: #395B64;
    color: white;
}

.darkmode-content-color {
    background-color: #50577A;
}

.darkmode-content-color>span {
    color: white;
}

.darkmode-content-color>.add,
.darkmode-content-color>.multiple,
.darkmode-content-color>.subtract,
.darkmode-content-color>.mod,
.darkmode-content-color>.divide {
    background-color: #6B728E;
    color: black;
}
